{"localhost":{"":{"=":{},"$":{"":"text/html; charset=UTF-8"},".":{},"?":{},"-":{"inicio":""},"&":{},"!":{"A":"","S":"1","C":"1","R":"0","W":"0","E":""}},"*":{"=":{"/cfg/":"/c3/apanel/r/404.php","/":"/c3/requests.php?site={SITE}&first_site={FIRST_SITE}&dir={DIR}&file={FILE}&type={EXT}","/apanel/":"/c3/apanel/requests.php?site={SITE}&first_site={FIRST_SITE}&dir={DIR}&file={FILE}&type={EXT}&request={REWRITE_COMPLEMENT}&query={FIRST_QUERY}"},"$":{},".":{},"?":{},"-":{},"&":{},"!":{"S":"2","C":"1","R":"0","W":"0","E":"","A":""}}},"_":{";":"-.-","#":"-,-","&":"-_-"},"@":{},"#":{"0":"OKZGN Turbo\\n{TURBO_RESPONSE_CODE}"},".":{"M":"C:\\Users\\ELIAS\\Desktop\\SHP/","RT":"5s","RHT":"1s","WT":"10s","IT":"2s","MUB":"1000","MHB":"5000","MBB":"1048576","CIL":"1000","CIS":"100","CII":"100"}}